<div class="find-navbar navbar navbar-static-top">
    <span class="find-logo-small navbar-brand"></span>
    <span class="nav navbar-nav navbar-right navbar-username shorten"><%- data.username %></span>

    <ul class="nav navbar-nav navbar-right drop-list navbar-lang">
        <li class="dropdown navbar-top-link">
            <a class="dropdown-toggle clickable" data-toggle="dropdown">Languages</i></a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="clickable" data-lang="en-gb">EN-GB</a>
                </li>
                <li>
                    <a class="clickable" data-lang="zh-cn">简体中文</a>
                </li>
                <li>
                    <a class="clickable" data-lang="zh-hk">繁體中文</a>
                </li>
            </ul>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right drop-list">
        <li class="dropdown navbar-top-link">
            <a class="dropdown-toggle clickable" data-toggle="dropdown"><i class="hp-icon hp-settings hp-fw"></i></a>
            <ul class="dropdown-menu" role="menu">
                <li class="not-clickable">
                    <a class="bold username shorten"><%- data.username %></a>
                </li>
                <li class="divider"></li>
                <%= data.menuItems(data) %>
                <li>
                    <a class="clickable navigation-logout"><i class="hp-icon hp-steps hp-fw text-muted"></i> <%-data.i18n['app.logout']%></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
