<div class="find-banner-container">
    <div id="tagcloud">
        <a href="#" rel="5">Drill</a>
        <a href="#" rel="5">Tool</a>
        <a href="#" rel="5">useful</a>
        <a href="#" rel="1">significant</a>
        <a href="#" rel="1">iPad</a>
        <a href="#" rel="19">apple</a>
        <a href="#" rel="13">ios</a>
        <a href="#" rel="14">New York</a>
        <a href="#" rel="1">Big Apple</a>
        <a href="#" rel="12">iphone</a>
        <a href="#" rel="12">phone</a>
        <a href="#" rel="12">Cellphone</a>
        <a href="#" rel="12">mobile</a>
        <a href="#" rel="12">smartphone</a>
        <a href="#" rel="5">Trend</a>
        <a href="#" rel="13">Time Square</a>
        <a href="#" rel="4">Wall Street</a>
        <a href="#" rel="8">Christmas</a>
        <a href="#" rel="4">Hong Kong</a>
        <a href="#" rel="4">Beach</a>
        <a href="#" rel="4">Wakeboard</a>
        <a href="#" rel="5">Sporty</a>
        <a href="#" rel="6">Marathon</a>
        <a href="#" rel="6">running</a>
        <a href="#" rel="6">Shoes</a>
        <a href="#" rel="2">Engergy</a>
        <a href="#" rel="2">Self Regulation</a>
        <a href="#" rel="2">Oversharing</a>
        <a href="#" rel="2">disinhibition</a>
        <a href="#" rel="2">invisible</a>
        <a href="#" rel="2">Toronto</a>
        <a href="#" rel="2">Self-revealing</a>
        <a href="#" rel="2">self-reflexive</a>
        <a href="#" rel="2">Survey</a>
        <a href="#" rel="2">Social Media</a>
        <a href="#" rel="2">participants</a>
        <a href="#" rel="4">Facebook</a>
        <a href="#" rel="4">Twitter</a>
        <a href="#" rel="4">Weibo</a>
        <a href="#" rel="4">integration</a>
        <a href="#" rel="4">privacy</a>
        <a href="#" rel="4">Celebrity</a>
        <a href="#" rel="4">stranger</a>
        <a href="#" rel="4">Divulge</a>
        <a href="#" rel="4">Newfound</a>
        <a href="#" rel="4">Compartmentalization</a>
        <a href="#" rel="4">Washington</a>
        <a href="#" rel="6">macbook</a>
        <a href="#" rel="6">OSX</a>
        <a href="#" rel="6">MAC OS</a>
        <a href="#" rel="7">Hera</a>
        <a href="#" rel="7">Kodiak</a>
        <a href="#" rel="7">Cheetah</a>
        <a href="#" rel="7">Puma</a>
        <a href="#" rel="7">Jaguar</a>
        <a href="#" rel="7">Panther</a>
        <a href="#" rel="7">Tiger</a>
        <a href="#" rel="7">Snow Leopard</a>
        <a href="#" rel="7">Mountain Lion</a>
        <a href="#" rel="8">Mavericks</a>
        <a href="#" rel="8">Yosemite</a>
        <a href="#" rel="8">El Capitan</a>
        <a href="#" rel="8">Sierra</a>
    </div>
    <script>
        $("#tagcloud a").tagcloud({
            size: {start: 12, end: 36, unit: "px"},
            color: {start: '#3498DB', end: '#46CFB0'}
        });
    </script>
</div>

<div class="col-md-12 top-options-container">
    <div class="row">
        <div class="find">
            <div class="app-logo m-b-xxl">
                <span class="find-logo-large m-r-sm"></span>
            </div>
            <div class="input-view-container"></div>
        </div>
    </div>
    <div class="row tabbed-search-row"></div>
</div>
<div class="query-service-view-container service-view-container">
    <div class="row search-tabs-row">
        <div class="col-xs-12 search-tabs-container"></div>
    </div>
</div>
<div class="document-detail-service-view-container service-view-container hide"></div>
<div class="suggest-service-view-container service-view-container hide"></div>